# Datasets (trop lourds pour GitHub)
*.npz
data/

# Modèles sauvegardés
*.pth

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.claude/

# Labs du prof
Lab_*.ipynb

# Brouillons
poubelle/
docs/

# Consignes
deep_learning_project.pdf